body {
  background: url(./Assets/Images/5.jpeg);
  background: url(./Assets/Images/2.jpeg) no-repeat right bottom scroll;
  /* background-image: url("Photos/white-background-gradient-modern-abstract-design-wave_343694-2337.avif");
    background-repeat: no-repeat;
    background-position:right bottom;
    background-attachment: scroll;
    /* background : rgb(76, 140, 192); */

}


h1 {
  color: orange;
  /* give text color orange*/
  text-align: center;

}

p {
  font-family: Arial;
  color: red;
  font-size: medium;
}